{{#each card}}
<table style="width: 100%;">
  <tr>
    <td style="width: 33%; border: 3px solid burlywood; text-align: center;">{{name}}</td>
    <td style="width: 33%; border: 3px solid burlywood; text-align: center;">{{price}}</td>
    <td style="width: 33%; border: 3px solid burlywood; text-align: center;">{{id}}</td>
  </tr>
</table>
{{/each}}