{{#each products}}
<table style="width: 100%;">
  <tr>
    <td style="width: 25%; border: 3px solid burlywood; text-align: center;">{{name}}</td>
    <td style="width: 25%; border: 3px solid burlywood; text-align: center;">{{price}}</td>
    <td style="width: 25%; border: 3px solid burlywood; text-align: center;">{{id}}</td>
    <td><button onclick="">+</button></td>
  </tr>
</table>

{{!-- <div class="button" style="width: 100%;text-align: center;"><button
    style="width: 10%;height: 70%; background: transparent; border: 2px solid burlywood; background: #000; color: burlywood;" class="btn_shop">To
    shop</button></div> --}}
{{/each}}
<script>
  function click() {
    
  }
</script>